div{
    width:20%;
    height: 500px;
    border: 1px solid blueviolet;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:x-small;
    text-align: center;
}
div h4{
    text-align: left;
    font-weight: 200;
}
#price{
    text-align: right;
    color: red;
}
img{
    width: 100%;
    height: 70%;
}
.heading{
    text-align: center;
    text-decoration: underline;
    color: royalblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.session1 h2{
    color: slateblue;
    
}
.session2 h2{
    color:slateblue ;
}
.session3 h2{
    color: slateblue;
}