
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
body
{
    position: relative;
}
i{
    margin-top: 30px;
    margin-left: 740px;
}
h2
{
    text-align-last: center;
    font-family: 'Urbanist', sans-serif;
}
.reg
{
    width: 350px;
    height: 250px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 574px;
    background-color:#f6f8fa;
    font-size:medium;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}
.in
{
    margin-top: 20px;
    margin-left: 30px;
}   
.in a
{
    text-align: right;
    margin-left: 100px;
    font-size:smaller;
}
#uname
{
    margin-top: 7px;
    align-items: center;
    width:280px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
#pass
{
    margin-top: 7px;
    align-items: center;
    width:280px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.subin
{
    background-color: #238636;
    margin-top: 70px;
    width: 280px;
    margin-left: 33px;
    color: white;

}
.block-2
{
    margin-top: 10px;
    width: 360px;
    height: 35px;
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 574px;  
    font-family: 'Lato', sans-serif;
    text-align-last: center;
    padding-top: 10px;
    font-size:medium;
    font-weight: 400;

}
footer 
{
    margin-top: 50px;
    text-align-last: center;
    font-family: 'Lato', sans-serif;
    font-size: smaller;
    color: blue;
    font-weight: normal ;
}
a{
    margin-left: 15px;
}

